In [38]:
import pandas as pd
from datetime import date, datetime

## Tạo Bảng mối quan hệ các Chỉ số - DIM ACCOUNT

In [39]:
# create dim_account_relation
stock_relation = pd.read_excel('./stock_relation.xlsx', sheet_name='dim_account')
account_relation = pd.read_excel('./stock_relation.xlsx', sheet_name='account_relation')
stock_relation

,account_key,account_name,sign,account_type,level
0,270,TỔNG TÀI SẢN,1,cdkt,1
1,100,TÀI SẢN NGẮN HẠN,1,cdkt,2
2,110,Tiền và tương đương tiền,1,cdkt,3
3,111,Tiền,1,cdkt,4
4,112,Các khoản tương đương tiền,1,cdkt,4
...,...,...,...,...,...
134,62,Lợi ích của cổ đông thiểu số,1,kqkd,1
135,61,Lợi nhuận của Cổ đông của Công ty mẹ,1,kqkd,1
136,70,Lãi cơ bản trên cổ phiếu,1,kqkd,1
137,71,Lãi trên cổ phiếu pha loãng,1,kqkd,1
138,80,Tổng chi phí,-1,kqkd,1

### Mối quan hệ giữa các chỉ số trong Bảng CĐKT

In [40]:
dim_bs_relation = stock_relation[stock_relation["level"] == 4]

# Add Account column
dim_bs_relation = pd.merge(dim_bs_relation, account_relation, left_on='account_key', right_on='child', how='left')
dim_bs_relation['account_id_lv3'] = dim_bs_relation['parent']
dim_bs_relation = dim_bs_relation.drop(columns=['parent', 'child', 'level'])
merged_df = pd.merge(dim_bs_relation['account_id_lv3'], stock_relation, left_on='account_id_lv3', right_on='account_key', how='left')
dim_bs_relation["Account"] = merged_df["account_name"]

# Add Sub Class column
dim_bs_relation = pd.merge(dim_bs_relation, account_relation, left_on='account_id_lv3', right_on='child', how='left')
dim_bs_relation['account_id_lv2'] = dim_bs_relation['parent']
dim_bs_relation = dim_bs_relation.drop(columns=['parent', 'child'])
merged_df = pd.merge(dim_bs_relation['account_id_lv2'], stock_relation, left_on='account_id_lv2', right_on='account_key', how='left')
dim_bs_relation["Sub Class"] = merged_df["account_name"]

# Add Class column
dim_bs_relation = pd.merge(dim_bs_relation, account_relation, left_on='account_id_lv2', right_on='child', how='left')
dim_bs_relation['account_id_lv1'] = dim_bs_relation['parent']
dim_bs_relation = dim_bs_relation.drop(columns=['parent', 'child'])
merged_df = pd.merge(dim_bs_relation['account_id_lv1'], stock_relation, left_on='account_id_lv1', right_on='account_key', how='left')
dim_bs_relation["Class"] = merged_df["account_name"]

dim_bs_relation

,account_key,account_name,sign,account_type,account_id_lv3,Account,account_id_lv2,Sub Class,account_id_lv1,Class
0,111,Tiền,1,cdkt,110,Tiền và tương đương tiền,100,TÀI SẢN NGẮN HẠN,270,TỔNG TÀI SẢN
1,112,Các khoản tương đương tiền,1,cdkt,110,Tiền và tương đương tiền,100,TÀI SẢN NGẮN HẠN,270,TỔNG TÀI SẢN
2,121,Đầu tư ngắn hạn,1,cdkt,120,Giá trị thuần đầu tư ngắn hạn,100,TÀI SẢN NGẮN HẠN,270,TỔNG TÀI SẢN
3,122,Dự phòng đầu tư ngắn hạn,-1,cdkt,120,Giá trị thuần đầu tư ngắn hạn,100,TÀI SẢN NGẮN HẠN,270,TỔNG TÀI SẢN
4,123,Chứng khoán đầu tư giữ đến ngày đáo hạn,1,cdkt,120,Giá trị thuần đầu tư ngắn hạn,100,TÀI SẢN NGẮN HẠN,270,TỔNG TÀI SẢN
...,...,...,...,...,...,...,...,...,...,...
78,420,Quỹ khác,1,cdkt,410,Vốn và các quỹ,400,VỐN CHỦ SỞ HỮU,440,TỔNG CỘNG NGUỒN VỐN
79,421,Lãi chưa phân phối,1,cdkt,410,Vốn và các quỹ,400,VỐN CHỦ SỞ HỮU,440,TỔNG CỘNG NGUỒN VỐN
80,429,Lợi ích cổ đông không kiểm soát,1,cdkt,410,Vốn và các quỹ,400,VỐN CHỦ SỞ HỮU,440,TỔNG CỘNG NGUỒN VỐN
81,431,Vốn ngân sách nhà nước,1,cdkt,430,Vốn Ngân sách nhà nước và quỹ khác,400,VỐN CHỦ SỞ HỮU,440,TỔNG CỘNG NGUỒN VỐN
82,432,Nguồn kinh phí đã hình thành TSCĐ,1,cdkt,430,Vốn Ngân sách nhà nước và quỹ khác,400,VỐN CHỦ SỞ HỮU,440,TỔNG CỘNG NGUỒN VỐN

In [41]:
dim_is_relation = stock_relation[stock_relation["account_type"] == "kqkd"]

### Chuẩn bị dữ liệu Bảng CĐKT, KQKD

In [42]:
stocks = ['HPG', 'HSG', 'NKG', 'TVN', 'TLH']

In [43]:
# Hàm chuyển đổi từ Quý sang ngày đầu tháng

def convert_quarter_to_date(quarter_str):
    quarter, year = quarter_str.split()
    year = int(float(year))
    if quarter == 'Q1':
        return f"{year}-01-01"
    elif quarter == 'Q2':
        return f"{year}-04-01"
    elif quarter == 'Q3':
        return f"{year}-07-01"
    elif quarter == 'Q4':
        return f"{year}-10-01"
    else:
        raise ValueError(f"Invalid quarter: {quarter}")

In [44]:
hpg = pd.read_excel('./Raw Data/HSG_BS.xlsx', skiprows=7).dropna()

In [45]:
hpg = pd.read_excel('./Raw Data/HPG_BS.xlsx', skiprows=7).dropna()

# Tạo cột account_key cho bảng cdkt
hpg = pd.merge(hpg, stock_relation, left_on='CHỈ TIÊU', right_on='account_name', how='left')
hpg = hpg.drop(columns=['CHỈ TIÊU', 'account_name', 'sign', 'account_type', 'level'])
hpg = hpg.melt(id_vars=['account_key'], var_name='quarter', value_name='End of Period')
hpg['date'] = hpg['quarter'].apply(convert_quarter_to_date)
hpg = hpg.drop(columns=['quarter'])
hpg['stock_name'] = 'HPG'
hpg

     account_key  End of Period        date stock_name
0            270   1.389823e+14  2021-01-01        HPG
1            100   6.394316e+13  2021-01-01        HPG
2            110   1.401863e+13  2021-01-01        HPG
3            111   3.909152e+12  2021-01-01        HPG
4            112   1.010948e+13  2021-01-01        HPG
...          ...            ...         ...        ...
1720         429   1.891760e+11  2024-07-01        HPG
1721         430   0.000000e+00  2024-07-01        HPG
1722         431   0.000000e+00  2024-07-01        HPG
1723         432   0.000000e+00  2024-07-01        HPG
1724         440   2.113863e+14  2024-07-01        HPG

[1725 rows x 4 columns]

In [46]:
def transform_report(stock, report_type):
    df = pd.read_excel(f'./Raw Data/{stock}_{report_type}.xlsx', skiprows=7).dropna()

    if report_type == 'IS':
        df = df[:-2]

    df = pd.merge(df, stock_relation, left_on='CHỈ TIÊU', right_on='account_name', how='left')
    df = df.drop(columns=['CHỈ TIÊU', 'account_name', 'sign', 'account_type', 'level'])
    df = df.melt(id_vars=['account_key'], var_name='quarter', value_name='End of Period')
    df['date'] = df['quarter'].apply(convert_quarter_to_date)
    df = df.drop(columns=['quarter'])
    df['stock_name'] = stock

    return df

### Chuẩn bị dữ liệu Giá cổ Phiếu

In [47]:
!pip install -U vnstock3

Requirement already satisfied: vnstock3 in d:\vscode\data\big_excercise\env\lib\site-packages (3.1.0)
Requirement already satisfied: requests in d:\vscode\data\big_excercise\env\lib\site-packages (from vnstock3) (2.32.3)
Requirement already satisfied: beautifulsoup4 in d:\vscode\data\big_excercise\env\lib\site-packages (from vnstock3) (4.12.3)
Requirement already satisfied: pandas in d:\vscode\data\big_excercise\env\lib\site-packages (from vnstock3) (2.2.3)
Requirement already satisfied: vnai>=0.1.3 in d:\vscode\data\big_excercise\env\lib\site-packages (from vnstock3) (0.1.3)
Requirement already satisfied: openpyxl in d:\vscode\data\big_excercise\env\lib\site-packages (from vnstock3) (3.1.5)
Requirement already satisfied: pydantic in d:\vscode\data\big_excercise\env\lib\site-packages (from vnstock3) (2.10.2)
Requirement already satisfied: psutil in d:\vscode\data\big_excercise\env\lib\site-packages (from vnstock3) (6.1.0)
Requirement already satisfied: fake-useragent in d:\vscode\data\big_excercise\env\lib\site-packages (from vnstock3) (1.5.1)
Requirement already satisfied: vnstock-ezchart in d:\vscode\data\big_excercise\env\lib\site-packages (from vnstock3) (0.0.2)
Requirement already satisfied: click in d:\vscode\data\big_excercise\env\lib\site-packages (from vnstock3) (8.1.7)
Requirement already satisfied: seaborn in d:\vscode\data\big_excercise\env\lib\site-packages (from vnstock3) (0.13.2)
Requirement already satisfied: cryptography in d:\vscode\data\big_excercise\env\lib\site-packages (from vnai>=0.1.3->vnstock3) (44.0.0)
Requirement already satisfied: soupsieve>1.2 in d:\vscode\data\big_excercise\env\lib\site-packages (from beautifulsoup4->vnstock3) (2.6)
Requirement already satisfied: colorama in d:\vscode\data\big_excercise\env\lib\site-packages (from click->vnstock3) (0.4.6)
Requirement already satisfied: et-xmlfile in d:\vscode\data\big_excercise\env\lib\site-packages (from openpyxl->vnstock3) (2.0.0)
Requirement already satisfied: numpy>=1.26.0 in d:\vscode\data\big_excercise\env\lib\site-packages (from pandas->vnstock3) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\vscode\data\big_excercise\env\lib\site-packages (from pandas->vnstock3) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\vscode\data\big_excercise\env\lib\site-packages (from pandas->vnstock3) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in d:\vscode\data\big_excercise\env\lib\site-packages (from pandas->vnstock3) (2024.2)
Requirement already satisfied: annotated-types>=0.6.0 in d:\vscode\data\big_excercise\env\lib\site-packages (from pydantic->vnstock3) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.1 in d:\vscode\data\big_excercise\env\lib\site-packages (from pydantic->vnstock3) (2.27.1)
Requirement already satisfied: typing-extensions>=4.12.2 in d:\vscode\data\big_excercise\env\lib\site-packages (from pydantic->vnstock3) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\vscode\data\big_excercise\env\lib\site-packages (from requests->vnstock3) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in d:\vscode\data\big_excercise\env\lib\site-packages (from requests->vnstock3) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\vscode\data\big_excercise\env\lib\site-packages (from requests->vnstock3) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in d:\vscode\data\big_excercise\env\lib\site-packages (from requests->vnstock3) (2024.8.30)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in d:\vscode\data\big_excercise\env\lib\site-packages (from seaborn->vnstock3) (3.9.3)
Requirement already satisfied: squarify in d:\vscode\data\big_excercise\env\lib\site-packages (from vnstock-ezchart->vnstock3) (0.4.4)
Requirement already satisfied: wordcloud in d:\vscode\data\big_excercise\env\lib\site-packages (from vnstock-ezchart->vnstock3) (1.9.4)
Requirement already satisfied: vnstock in d:\vscode\data\big_excercise\env\lib\site-packages (from vnstock-ezchart->vnstock3) (0.2.9.2.3)
Requirement already satisfied: contourpy>=1.0.1 in d:\vscode\data\big_excercise\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock3) (1.3.1)
Requirement already satisfied: cycler>=0.10 in d:\vscode\data\big_excercise\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock3) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\vscode\data\big_excercise\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock3) (4.55.0)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\vscode\data\big_excercise\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock3) (1.4.7)
Requirement already satisfied: packaging>=20.0 in d:\vscode\data\big_excercise\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock3) (24.2)
Requirement already satisfied: pillow>=8 in d:\vscode\data\big_excercise\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock3) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\vscode\data\big_excercise\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock3) (3.2.0)
Requirement already satisfied: six>=1.5 in d:\vscode\data\big_excercise\env\lib\site-packages (from python-dateutil>=2.8.2->pandas->vnstock3) (1.16.0)
Requirement already satisfied: cffi>=1.12 in d:\vscode\data\big_excercise\env\lib\site-packages (from cryptography->vnai>=0.1.3->vnstock3) (1.17.1)
Requirement already satisfied: pycparser in d:\vscode\data\big_excercise\env\lib\site-packages (from cffi>=1.12->cryptography->vnai>=0.1.3->vnstock3) (2.22)

In [48]:
from vnstock3 import Vnstock

In [49]:
# Hàm lấy giá cố phiếu
def get_stock_price(stock):
    stock_hist = stock_historical_data(stock, "2020-07-01",
        str(date.today()), "1D", "stock")
    stock_hist["%_change"] = round(((stock_hist['close'] - stock_hist['close'].shift(1))
                                    / stock_hist['close'].shift(1)) * 100, 2)
    stock_hist['change'] = (stock_hist['close'] - stock_hist['close'].shift(1))
    stock_hist['time'] = stock_hist['time'].astype(str)
    stock_hist = stock_hist.rename(columns={'ticker': 'stock_name', 'time': 'date'})

    return stock_hist

In [50]:
get_stock_price('HPG')

,date,open,high,low,close,volume,stock_name,%_change,change
0,2020-07-01,11180,11380,11140,11350,10843030,HPG,NaN,NaN
1,2020-07-02,11380,11490,11350,11430,13000820,HPG,0.70,80.0
2,2020-07-03,11470,11490,11350,11380,8111500,HPG,-0.44,-50.0
3,2020-07-06,11470,11490,11360,11430,9764620,HPG,0.44,50.0
4,2020-07-07,11490,11960,11470,11740,28048770,HPG,2.71,310.0
...,...,...,...,...,...,...,...,...,...
1104,2024-11-26,26300,26500,26200,26350,13180700,HPG,0.19,50.0
1105,2024-11-27,26350,26450,26100,26300,7966600,HPG,-0.19,-50.0
1106,2024-11-28,26450,26750,26300,26400,14131000,HPG,0.38,100.0
1107,2024-11-29,26450,26750,26300,26750,13877300,HPG,1.33,350.0
1108,2024-12-02,26950,27150,26750,26900,18575600,HPG,0.56,150.0

### Chuẩn bị thông tin cơ bản về cổ phiếu

In [51]:
def get_stock_fundamental_info(stock):
    fundamental_ratio = company_fundamental_ratio(stock) 
    profile = company_profile(stock)
    overview = company_overview(stock)
    evaluation = stock_evaluation(stock)[["ticker", "PE", "industryPE", "PB", "industryPB"]][-1:]

    stock_info = pd.merge(fundamental_ratio[['ticker']], profile[['companyName', 'ticker']], on='ticker', how='inner')
    stock_info = pd.merge(stock_info, overview[['ticker', 'outstandingShare', 'exchange']], on='ticker', how='inner')
    stock_info = pd.merge(stock_info, evaluation, on='ticker', how='inner')

    stock_info = stock_info.rename(columns={'ticker': 'stock_name', 'companyName': 'company_name', 'outstandingShare': 'outstanding_share'})
    stock_info['outstanding_share'] = stock_info['outstanding_share'] * 1000000

    return stock_info

In [52]:
get_stock_fundamental_info('HPG')

,stock_name,company_name,outstanding_share,exchange,PE,industryPE,PB,industryPB
0,HPG,Công ty Cổ phần Tập đoàn Hòa Phát,6.396300e+09,HOSE,14.0,19.7,1.5,1.3

### Tổng hợp tất cả các DataFrame

In [53]:
# Tổng hợp dữ liệu của tất cả các cổ phiếu 
bs_list = [] 
is_list = []
stock_price_list = []
stock_info_list = []

for stock in stocks:
    balance_sheet = transform_report(stock, 'BS')
    income_statement = transform_report(stock, 'IS')
    stock_price = get_stock_price(stock)
    stock_info = get_stock_fundamental_info(stock)
    
    bs_list.append(balance_sheet)
    is_list.append(income_statement)
    stock_price_list.append(stock_price)
    stock_info_list.append(stock_info)

bs_df = pd.concat(bs_list, ignore_index=True)
is_df = pd.concat(is_list, ignore_index=True)
stock_price_df = pd.concat(stock_price_list, ignore_index=True)
stock_info_df = pd.concat(stock_info_list, ignore_index=True)

bs_df

     account_key  End of Period        date stock_name
0            270   1.389823e+14  2021-01-01        HPG
1            100   6.394316e+13  2021-01-01        HPG
2            110   1.401863e+13  2021-01-01        HPG
3            111   3.909152e+12  2021-01-01        HPG
4            112   1.010948e+13  2021-01-01        HPG
...          ...            ...         ...        ...
8620         429   2.121114e+10  2024-07-01        TLH
8621         430   0.000000e+00  2024-07-01        TLH
8622         431   0.000000e+00  2024-07-01        TLH
8623         432   0.000000e+00  2024-07-01        TLH
8624         440   4.009210e+12  2024-07-01        TLH

[8625 rows x 4 columns]

In [54]:
stock_info_df

,stock_name,company_name,outstanding_share,exchange,PE,industryPE,PB,industryPB
0,HPG,Công ty Cổ phần Tập đoàn Hòa Phát,6.396300e+09,HOSE,14.0,19.7,1.5,1.3
1,HSG,Công ty Cổ phần Tập đoàn Hoa Sen,6.210000e+08,HOSE,23.1,19.7,1.1,1.3
2,NKG,Công ty Cổ phần Thép Nam Kim,2.633000e+08,HOSE,11.2,19.7,0.9,1.3
3,TVN,Tổng Công ty Thép Việt Nam - Công ty Cổ phần,6.780000e+08,UPCOM,6.4,19.7,0.5,1.3
4,TLH,Công ty Cổ phần Tập đoàn Thép Tiến Lên,1.123000e+08,HOSE,1.1,19.7,0.3,1.3

In [55]:
stock_price_df

,date,open,high,low,close,volume,stock_name,%_change,change
0,2020-07-01,11180,11380,11140,11350,10843030,HPG,NaN,NaN
1,2020-07-02,11380,11490,11350,11430,13000820,HPG,0.70,80.0
2,2020-07-03,11470,11490,11350,11380,8111500,HPG,-0.44,-50.0
3,2020-07-06,11470,11490,11360,11430,9764620,HPG,0.44,50.0
4,2020-07-07,11490,11960,11470,11740,28048770,HPG,2.71,310.0
...,...,...,...,...,...,...,...,...,...
5540,2024-11-26,4360,4400,4300,4330,260200,TLH,-0.69,-30.0
5541,2024-11-27,4310,4330,4250,4300,163400,TLH,-0.69,-30.0
5542,2024-11-28,4310,4490,4310,4400,422700,TLH,2.33,100.0
5543,2024-11-29,4410,4430,4380,4390,137400,TLH,-0.23,-10.0
5544,2024-12-02,4310,4480,4310,4370,234000,TLH,-0.46,-20.0

## Chuyển dữ liệu vào file Excel

In [56]:
with pd.ExcelWriter('./Processed Data/data.xlsx') as writer:
    dim_bs_relation.to_excel(writer, sheet_name='dim_bs_relation', index=False)
    dim_is_relation.to_excel(writer, sheet_name='dim_is_relation', index=False)
    bs_df.to_excel(writer, sheet_name='cdkt', index=False)
    is_df.to_excel(writer, sheet_name='kqkd', index=False)
    stock_price_df.to_excel(writer, sheet_name='stock_price', index=False)
    stock_info_df.to_excel(writer, sheet_name='stock_info', index=False)